@model AuthorCategory

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/admin_page.css" />
<h1>Create</h1>
<h4>Book</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="row">    
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Author Name</label>
                <select id="authorSelect" class="Author-select" onchange="changeSelectAuthor()"> 
                    <option selected value="">Author</option>
                    @foreach (var obj in Model.Authors)
                    {
                        <option value="@obj.AuthorId">@obj.AuthorName</option>
                    }
                </select>
                <input type="hidden" asp-for="AuthorId" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
                @*<input asp-for="AuthorId" class="form-control" />*@
                @*<span asp-validation-for="AuthorId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CategoryId1" class="control-label">Category 1</label>
                <select id="categorySelect1" class="Category-select" onchange="changeSelectCategory_1()">
                    <option selected value="">Category</option>
                    @foreach (var obj in Model.Categories)
                    {
                        <option value="@obj.CategoryId">@obj.CategoryName</option>
                    }
                </select>
                <input type="hidden" asp-for="CategoryId1" />
                <span asp-validation-for="CategoryId1" class="text-danger"></span>
@*                <input asp-for="CategoryId1" class="form-control" />
                <span asp-validation-for="CategoryId1" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CategoryId2" class="control-label">Category 2</label>
                <select id="categorySelect2" class="Category-select" onchange="changeSelectCategory_2()">
                    <option selected value="">Category</option>
                    @foreach (var obj in Model.Categories)
                    {
                        <option value="@obj.CategoryId">@obj.CategoryName</option>
                    }
                </select>
                <input type="hidden" asp-for="CategoryId2" />
                <span asp-validation-for="CategoryId2" class="text-danger"></span>
                @*<input asp-for="CategoryId2" class="form-control" />
                <span asp-validation-for="CategoryId2" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CategoryId3" class="control-label">Category 3</label>
                <select id="categorySelect3" class="Category-select" onchange="changeSelectCategory_3()">
                    <option selected value="">Category</option>
                    @foreach (var obj in Model.Categories)
                    {
                        <option value="@obj.CategoryId">@obj.CategoryName</option>
                    }
                </select>
                <input type="hidden" asp-for="CategoryId3" />
                <span asp-validation-for="CategoryId3" class="text-danger"></span>
@*                <input asp-for="CategoryId3" class="form-control" />
                <span asp-validation-for="CategoryId3" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label">Book image</label>
                <input asp-for="FileUpload" type="file" class="form-control" id="FileUpload" onchange="preview()" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
                <img id="frame" src="" class="img-fluid" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>       
        </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
       </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
<script>
    var authorSelect = document.getElementById("authorSelect");
    var categorySelect1 = document.getElementById("categorySelect1");
    var categorySelect2 = document.getElementById("categorySelect2");
    var categorySelect3 = document.getElementById("categorySelect3");

    var selectedAuthorIdInput = document.getElementById("AuthorId");
    var selectedCategoryId1Input = document.getElementById("CategoryId1");
    var selectedCategoryId2Input = document.getElementById("CategoryId2");
    var selectedCategoryId3Input = document.getElementById("CategoryId3");

    function changeSelectAuthor() {
        selectedAuthorIdInput.value = authorSelect.value;
    };

    function changeSelectCategory_1() {
        selectedCategoryId1Input.value = categorySelect1.value;
    };
    function changeSelectCategory_2() {
        selectedCategoryId2Input.value = categorySelect2.value;
    };
    function changeSelectCategory_3() {
        selectedCategoryId3Input.value = categorySelect3.value;
    };
</script>