@model BookStation.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpVotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpVotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DownVotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DownVotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalVotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
